PORT= //Port number
MONGODB_USER= // mongodb username
MONGODB_PASSWORD= // mongodb password
MONGODB_URL= // db url
MONGODB_DB= // db name

SMTP_HOST= // brevo host
SMTP_PORT= // brevo port
SMTP_USER= // brevo user
SMTP_PASSWORD= // brevo password
SMTP_FROM= // from who

JWT_SECRET= // generate subscribe
APP_DOMAIN= // frontend domain

CLOUD_NAME=
API_KEY=
API_SECRET=

ENABLE_CLOUDINARY= // boolen